@media screen and (max-width: 1110px) {
    .block3,
    .block4 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 740px) {
    .block1,
    .block2 {
        margin-top: 60px;
    }
    .title {
        margin-top: 200px;
    }
}

@media screen and (max-width: 780px) {
    .header-container {
        display: flex;
    }
    .nav-icon {
        margin-left: 15px;
    }
    .nav {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .nav-li {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 780px) {
    .div-1 {
        justify-content: center;
    }
}

@media screen and (max-width: 980px) {
    .section1-container {
        display: block;
    }
    .div-1 {
        margin-left: auto;
        margin-right: auto;
    }
    .div-2 {
        text-align: center;
        margin-top: 100px;
    }
    .div-wave {
        margin-top: 100px;
    }
}

@media screen and (max-width: 571px) {
    html {
        width: fit-content;
    }
}