@media screen and (max-width: 1110px) {
    .block3,
    .block4 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 740px) {
    .block1,
    .block2 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 780px) {
    .header-container {
        display: flex;
    }
    .nav-icon {
        margin-left: 15px;
    }
    .nav {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .nav-li {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}